<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Aloha!</title>
  <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
</head>
<body>

			<div class="cover" aria-label="A Chatty Grey Squirrel. By Gui Weinmann. Grey Squirrels are common the wild. Good luck catching one!">
				<div class="cover__description"
				roleName="software research engineer"
				itemtype="https://schema.org/Person">
					<h4 class="description">Guillermo Weinmann</h4>
				</div>
			</div>


			    <div class="section_white">
						<div class="section_white__row">
							<div class="section_white--column_right">
								INTERESTS and EXPERIMENTS
							</div>
						</div>

						<div class="section_white__row">
							<div class="section_white--column_right">
								Computer Vision <P>
									<b>
										<a href="https://gotires.alphabetware.com" target=_new>Wheel Swap</a></b>: A simple AI application that detects wheels on two different cars, and swaps them.
									</P>
							</div>
						</div>

						<div class="section_white__row">
							<div class="section_white--column_right">
								Privacy, Intellectual Property, and User Generated Content.
								<!--p>I am interested in privacy and intellectual property rights as they pertain to user generated content (UGC).
								</p-->
								<P>
									What: Discrimate against fraud, bots, and fake accounts easily and cheaply. 
									In 2026, businesses and individuals must be assured that submitted data is real without having to expend major capital on fraud detection. 
								</P>
								<P>
									How: Proof of Personhood via Self Soverign Identity (SSI),
								  the <a href="https://www.w3.org/TR/did-1.1/">DID spec</a>,
								 blockchain ledger, zero knowledge proofs.
	             	</P>
								<!--p>While users are "credited" for comments,
								photos, product reviews, etc., corporations are the ones who profit from user contributions,
								indefinitely. Social affirmation and targetted ads are the main drivers.
								<P>						Social networks beg/ask/incentivize users to monitor their platforms for fraud
								by flagging content and bots.
		This kind of benevolent self-contained system
									worked in the good old days but much has changed with worldwide adoption, generative AI, and bots.
								</P-->
								 <!-- P>Would the network effect be achievable without destruction of IP rights in a liberated system?
								</P -->
								<!-- p>
								 Would social networks differ if users had full and perpetual rights to
								 control their own data? Today's tangled process is one where companies
								 must comply with laws to grant users the right to be forgotten. Both sides must
								 jump through legal and technical challenges to achieve this, generally lacking
								 fine-grained embedded controls, in order to comply with the laws as they are written.
								</p -->
								<!--P>
								 It should be possible for users to manage their own data
								  through technology. It's 2026!
								 Business owners would benefit from this as well.
								</P>
								<P>
								A system where businesses and individuals can both be
								 assured that submitted data
								 is real without having to expend capital on fraud detection.
								 and discrimate real people from bots and fake accounts easily and cheaply.
									 <br/><br/>
								 For now, I am calling it "Anonymous Verified Users".


								 <br/><br/>Leverages Self Soverign Identity (SSI)
								 with the <a href="https://www.w3.org/TR/did-1.1/">DID spec</a>,
								 blockchain ledger, zero knowledge proofs, and any other
	             proof of personhood technology as needed.
								<br/><br/>
								The benefits are:
								 <br/>1. reduce the cost of fraud detection
								 <br/>2. fine-grain control over UGC
								 <br/>3. ability to analyze user data without exposing it
								</P>
								<P>Users/consumers
									<ol>Can
									<li>Share data</li>
									<li>Define how long we want to share our data</li>
									<li>Sign our data, in a way that is anonymous and unforgeable</li>
									<li>Retain ownership of our data</li>
									</ol>
								<P>System implimenters
									<ol>Can
										<li>Have proof that data is REAL, not a bot, nor a forgery</li>
										<li>Perform computations on the data, without seeing the raw data</li>
									</ol>

								</P-->
								<P><a href="./secure">See workflow</a></P>
	            <!--P>
	            One problem that must be addressed is how to stop anyone with
				      access to the data from coping the data in place.
	            <br/>
	            The current state of the art is such that if a bad actor copies the data in place,
	            the owner is disociated from their data and the thief loses the provenance.
								But Fully Homomorphic Encryption (FHE) and ZKP can lock down the gap.
								</P-->
							</div>
						</div>

						<div class="section_white__row">
							<div class="section_white--column_right">
								Stable Diffusion and Generative AI<P>
									<b>Grey Squirrel Smoking a Cigar</b>: A simple t2v animation created using Comfy UI for my workflow and the
									<a href="https://huggingface.co/tencent/HunyuanVideo" target=_new">Hunyuan Video</a> diffusion model.
									<a href="./secure/comfyui-workflow.png">See Workflow</a>
									</P>
							</div>
						</div>

				</div>

<%# 			<div class="section_gray">
			</div>
 %>
			<div class="section_footer">
				<h4 class="description not-a-squirrel">this is not a squirrel</h4>
			</div>

			<div class="section_spacer">
			</div>

				<!--div class="section_white">
					<div class="section_white--column_right">Perhaps insert a presidio demo here</div>
					<div class="section_white--column_left">image here</div>

				</div-->

<%#         Some projects that I am proud of in my time at CR:
        Upkept
        Broadbandtogether
        Nationbuilder
        Crowdsignal + BDD
        Health and Hospital ratings
        Dangerous Doctors special report
        Card Advisor + BDD
        Auto insurance special report
        Monday.com integration poc
        DB sync between CDH and Nationbuilder TDD
        Upkept dashboards + segment integration
        Electronics redesign
        Advocacy website
        Experts pages and json-ld

 %>




				<!-- broadbandtogether: I worked on a company initiative to fix broadband. 
				We embarked on a campaign to collect real invoices from users, and captured over 50,000.
				as well as real data on user's broadband speed together with the-x-lab at Penn State University.
				We discovered a disconnect between what people thought they signed up for and what they were paying.
				From my point of view, one of the major accomplishments of this campaign was transparency in pricing by 
				requiring providers to display a "Broadband Facts Label"
				to gather data on US broadband costs, quality, and speeds by having consumers upload bills, aiming to advocate for better, fairer, and affordable internet access for all by revealing industry practices
				highlighting the need for universal, affordable high-speed internet for work, school, and healthcare
				A crowdsourcing project asking people to share their internet bills and speed test results. 
				To get real data on costs and speeds, bypassing limited government info.
				Data Collection: Gather data on what people actually pay for and receive. -->

				<!-- <div class="bar"></div> -->


				<!-- <div>
					<h3>
						creative uses of technology
						<span> | </span>
						software engineering
						<span> | </span>
						research and development
					</h3>
	
				</div> 
			    <div class="section_white">
		                <div style="text-align:center;">
							<h2>
			                The best outcomes start with a question. 
							<br/><br/>
							Is it possible... ?
							How could we... ?

							</h2>
							<h4>
							<br/><br/>I help companies find opportunities.
							<br/><br/>Text an automobile VIN number to <a href="sms:ENV['TWILIO_FROM_NUMBER']">(646) 233-4264</a>. Our system will tell you something useful about the car.
							<br/><br/>Snap a photo of an object and text it to <a href="sms:ENV['TWILIO_FROM_NUMBER']">(646) 233-4264</a>. Our system will figure out the object.
							</h4>
						</div>
				</div>


				<div style="position:relative;width:100%;height:100vh;overflow:hidden;">
					<img src="assets/hipster-party-squirrels.webp" alt="Chatty Grey Squirrel at a party" style="width:100%;height:100%;object-fit:cover;">
				</div>
 -->
				<!-- <div class="bar"></div>
					<a name='#faq'></a>
					<span id="faq"></span>
				    <div class="section_white">
				        <div class="section_header">
				            <h2>FAQ</h2>
				        </div>

				        <div class="question_holder">
				            <div><h3>What is Alohabet Concierge?</h3></div>
				            <div><p style="margin-left:50px;">
							Alohabet is an easy way to engage with customers, using a familiar SMS platform.
							</div>
				        </div>

						<div class="question_holder">
				            <div><h3>Why SMS?</h3></div>
				            <div><p style="margin-left:50px;">
								Two-thirds of Americans are now smartphone owners.
								<br/>Text messaging is the most widely-used smartphone feature.
								<br/>97% of smartphone owners use text messaging!

								<br/><i>source:</i>
								<a href='http://www.pewinternet.org/2015/04/01/us-smartphone-use-in-2015/'>Pew
									Research Center - U.S. Smartphone Use in 2015.</a>
							</div>
				        </div>

				        <div class="question_holder">
				            <div><h3>Do standard text messaging and data rates apply?</h3></div>
				            <div><p style="margin-left:50px;">Yes.</p></div>
				        </div>
				        <div class="question_holder">
				            <div><h3>I have another question.</h3></div>
				            <div><p style="margin-left:50px;">Great! Shoot us a text message. We'll respond if we're not busy.</p></div>
				        </div>

				        <div class="section_header">
				            <h2>&#119046; <a href="#">BACK </a>&#119047;</h2>
				        </div>
				    </div>
 -->

<!-- Google tag (gtag.js) -->


				<div class="copyright not-a-squirrel">Copyright © 2026 Guillermo Weinmann, all right reserved.</div>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-CZGCBVFMEW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CZGCBVFMEW');
</script>

<script>

function track(p) {
	console.log ('tracking');
	gtag('event', 'submit', {
	  'event_category': 'click',
	  'event_label': 'not-working-yet',
	  'value': document.getElementById('userText').value
	});
	return true;
}
</script>
</body>
</html>
