// Application stylesheet
// This file will be compiled to application.css by Rails
// You can use full SCSS features: variables, nesting, mixins, etc.

// Example SCSS variables:
// $primary-color: #333;
// $font-size-base: 16px;

// Example SCSS nesting:
// .container {
//   width: 100%;
//   
//   .content {
//     padding: 20px;
//   }
// }

// To import other SCSS files, use:
// @import 'filename';  // (without .scss extension)

@import 'styles';
