body, html {
    width: 100%;
    height: 140%;
}
body {
    background-attachment: fixed;
    background-color: #000;
    background-image: image-url("chatty-grey-squirrel.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}


body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    p, ol {
        font-family: "Monaco", "Courier New", Courier, monospace;
        font-weight: 200;        
        font-size: 12px;
        // letter-spacing: 0.15em;
    }
}

nav.topnav {
    border-bottom: 1px solid #ddd;
}

.topnav {
    font-size: 13px;
	background-color: #e8e8e8;
	border: none;
}
.topnav div.vnav a {
    color: #333333;
}
#logo {
	font-size: 1.20em;
	padding: 6px 12px;
	border: 0px solid #ddd;
	border-radius: 4px;
	color: #333333;
	background-color: rgba(0,0,0,0.0);
}

.section_white {
    background-color: white;
    color: #333;
    margin: 0;
    padding: 0;
}

.section_white__row {
    margin: 0;
    padding: 0;
}

.section_white--column_right {
    color: #333;
    margin: 0 auto;
    padding: 10px 60px;
    text-align: left;
}

.section_gray {
    background: rgba(255, 255, 255, 0.25);
    margin: 0;
    min-height: 200px;
    padding: 0;
}

.section_spacer {
    margin: 0;
    min-height: 100vh;
    padding: 0;
}

.section_footer {
    position: relative;
    text-align: center;
}

.section_footer .description {
    background: rgba(255, 255, 255, 0.5);
}

.section_footer .copyright {
    bottom: 10px;
    color: #666;
    left: 10px;
    position: absolute;
}

div.section_header {
    margin-bottom: 30px;
}

div.bar {
    height: 4px;
    width: 100%;
    margin: 0px auto;
    background-color: #ddd;
}

.description {
    background: #333;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 15px 0px;
}

.text-white {
    /* background: rgba(0, 0, 0, 0.5); */
    color: #fff;
    /* display: block;
    padding: 10px 0;
    width: 100%; */
}

.not-a-squirrel {
    font-family: Monaco, "Courier New", Courier, monospace;
    font-size: 8px;
    font-weight: 200;
    image-rendering: pixelated;
    letter-spacing: 2px;
    text-rendering: optimizeSpeed;
}

.intro-message {
    padding: 45px 0;
    text-align: center;
}

.intro-message h1 {
    color: #333;
    font-size: 3em;
    margin: 0;
}


div.about p {
    font-size: 16px;
    line-height: 28px;
}

div.about p a {
    color: #333;
    text-decoration: underline;
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    .section_white--column_right {
        padding: 30px 20px;
    }
}

p.copyright {
    margin: 15px 0 0;
}

div.the_actions {
    padding-top: 20px;
    padding-bottom: 60px;
}

div.the_actions > div.container > div.row {
    padding-top: 20px;
    border-radius: 8px;
}

span.next_arrow {
    display: none;
    position: absolute;
    right: -10px;
    top: 130px;
    font-size: 2.2em;
}

div.col-md-4 div.action_item {
    border: 0px solid gray;
    border-radius: 4px;
    margin: 1px 27px;
    padding: 6px;
}

div.action_spot {
    border: 0px solid gray;
    padding: 20px 30px;
    height: 280px;
}

div.action_spot div.add_email {
    padding-top: 36px;
}

label.upload_file {
    cursor: pointer;
    margin-top: 30px;
    border: 1px solid #777;
    border-radius: 3px;
    background-color: #ddd;
    padding: 4px 8px;
}

div.action_item a {
    text-decoration: underline;
    font-size: 0.9em;
}

div.col-md-4 div.demo_header {
    text-align:center;
    margin-bottom: 32px;
}

div.question_holder {
    margin-bottom: 36px;
}
div.question_holder h3 {
    font-size: 1.5em;
}
div.question_holder p {
    max-width: 420px;
}

div.question {
    cursor: pointer;
    padding-bottom: 8px;
}

div.answer_holder {
    padding-left: 16px;
    height: 300px;
    overflow-y:scroll;
    position:relative;
}

div.answer {
    margin-bottom: 46px;
}

div.answer div.answer_header {
    font-size: 14px;
    text-decoration: underline;
    margin-bottom: 6px;
}

div.pricing_holder {
    text-align: center;
}

table.pricing_table td {
    border: 2px solid #aaa;
    font-size: 16px;
}

table.pricing_table tr {
    height: 90px;
}
table.pricing_table td {
    width: 200px;
    padding: 6px;
}
table.pricing_table tr.header_row {
    background-color: #3764CC;
    color: #f8f8f8;
}
table.pricing_table td.header_col {
    background-color: #37A8CC;
    color: #f8f8f8;
}

/* Tooltip */
.image-tooltip {
    display: table;
    margin: 0 auto;
    position: relative;
}

.cover {
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.cover__description {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}
.cover__description .description {
    background: rgba(255, 255, 255, 0.5);
    color: #333;
    margin: 0;
    padding: 15px 0;
}

.image-tooltip img {
    border: 4px solid #000;
    display: block;
    height: 15%;
}

.thumbnail--diagram {
    margin: auto;
    width: 330px;
}

.image-tooltip::after {
    background: #fff;
    border: 4px solid #333;
    bottom: 100%;
    color: #333;
    content: attr(data-title);
    left: 50%;
    margin-bottom: 10px;
    opacity: 0;
    padding: 8px;
    pointer-events: none;
    position: absolute;
    transform: translateX(-50%);
    width: 300px;
}

.image-tooltip::before {
    border: 8px solid transparent;
    border-top-color: #333;
    bottom: 100%;
    content: '';
    left: 50%;
    margin-bottom: 2px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transform: translateX(-50%);
}

.image-tooltip:hover::after,
.image-tooltip:hover::before {
    opacity: 1;
}

.file-browser {
    border-collapse: collapse;
    font-family: Monaco, "Courier New", Courier, monospace;
    font-size: 12px;
    margin-top: 20px;
    width: 100%;
}

.file-browser thead {
    background-color: #f5f5f5;
}

.file-browser th {
    border-bottom: 2px solid #ddd;
    font-weight: 600;
    padding: 10px;
    text-align: left;
}

.file-browser td {
    border-bottom: 1px solid #eee;
    padding: 8px 10px;
}

.file-browser tr:hover {
    background-color: #fafafa;
}

.file-browser a {
    color: #333;
    text-decoration: underline;
}
